@CHARSET "UTF-8";
.r-tabs .r-tabs-nav {
border-bottom: 6px solid #FF6100;
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
   display: inline-block;
    left: 1px;
    list-style: none outside none;
    margin: 0 -1px;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}